
ion-toolbar{
    background-color: rgb(55, 10, 160);
}
#titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: arial;
}
#titulo2{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: arial;
}
#fondo{
   --ion-background-color: rgb(50, 50, 54);
}
#label{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: arial;
}
