
ion-toolbar{
    background-color:rgb(55, 10, 160);;
}
#titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: arial;
}
#fondo{
   --ion-background-color: rgb(50, 50, 54);
}
#card{
    background-color:rgb(6, 46, 98)
}
#boton{
    color:rgb(98, 44, 7);
    font-family: 'Courier New', Courier, monospace;
}