<ion-header>
  <ion-toolbar color="micolor2">
    <ion-buttons  slot="start">
      <ion-button (click)="mostrarMenu()" color="light">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title color="light">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fondo" >
 <ion-card id="card">
   <ion-card-header>
     
     <ion-card-title id="titulo">Bienvenido<br>a<br>RegistrApp<br><br></ion-card-title>
   </ion-card-header>
   <ion-card-content>
    <img src="assets/RegistrApp_logo.jpg" class="ion-padding">
   </ion-card-content>


 </ion-card>
 
 <ion-button  (click)="mostrarMenu()" expand="block" size="default" color="warning" >
  Comenzar
</ion-button>

 <ion-content>
  
 </ion-content>

</ion-content>




  
  

