<ion-header>
  <ion-toolbar color="micolor2">
   
    <ion-title id="titulo">Sesion<br>iniciada</ion-title>
   <ion-button  class=titulo 
                slot="end"
                size="small"
                color="warning"
                href="/alumno">cerrar<br>sesion 
               
  </ion-button>
  </ion-toolbar>
</ion-header>


  <ion-content id="fondo">
  <ion-card id="card"  >
    <ion-card-header id="titulo" >
      <ion-card-title id="titulo"> Bienvenido Alumno<br> </ion-card-title>
    </ion-card-header >
    <ion-card-content >
    
     <img src="assets/descarga.png" alt="">
     <ion-button id="boton" expand="block"size="large" color="warning" >
      Activar camara
     </ion-button>
    </ion-card-content>
    <ion-list>
    
    </ion-list>
  </ion-card>
  </ion-content>
  