<ion-header >
  <ion-toolbar color="ligth"><!--Inicio de cabecera-->
    <ion-title color="light" >Alumno</ion-title><!--titulo-->
    <ion-buttons slot="start"><!--inicio clase boton-->
      <ion-back-button defaultHref="/"
        text="Atras"
        color="light"
        mode="ios"
      ><!--Edicion de boton (default es para volver a inicio)-->
      </ion-back-button><!--termino boton volver-->
    </ion-buttons><!--cierre clase boton-->
  </ion-toolbar><!--cierre de cabecera-->
</ion-header>





<ion-content id="fondo"  >
  <img src="assets/alumno.jpeg" class="ion-padding">
  <form  #formulario="ngForm" (ngSubmit) ="onSubmit()">
      <ion-item id="titulo">
        <ion-label  position="floating">Usuario: </ion-label>
        <ion-input type="email" placeholder="Cuenta alumno"
                   name="email" value="" [(ngModel)]= "usuarioalu.email"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required>
        </ion-input>
      </ion-item>
  
      <ion-item id="titulo">
        <ion-label class="titulo" position="floating">Contraseña: </ion-label>
        <ion-input type="password" placeholder="Ingrese su contraseña"
                   name="password" value="" [(ngModel)]= "usuarioalu.password"
                   required>
        </ion-input>
      </ion-item>

   <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/alumno2" color="warning">
    Iniciar sesion
    </ion-button>
  </form>
 
  <ion-label id="label"routerLink="/olvcont"><br>Olvidaste tu contraseña?</ion-label>

</ion-content> 
